<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
<div class="bakedgoods">
    <% @cookies.each_with_index do |cookie, idx|%>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary uppercase" data-toggle="modal" data-target="#bakedgood<%= idx %>">
            <div class="bakedgood">
                <div class="bakedgood-image"><img class="bakedgood-img" src="<%= cookie.image %>"></div>
                <div class="uppercase"><b><%= cookie.name %></b></div>
                <div class="uppercase">Price: $<%= cookie.price %></div>
            </div>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="bakedgood<%= idx %>" tabindex="-1" role="dialog" aria-labelledby="bakedgood<%= idx %>Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header uppercase">
                        <h5 class="modal-title" id="bakedgood<%= idx %>Label"><b><%= cookie.name %></b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="bakedgood modal-body flex-col">
                        <img class="bakedgood-img" src="<%= cookie.image %>">
                        <br/>
                        <%= cookie.description %>
                        <br/>
                        <br/>
                        Price: $<%= cookie.price %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary uppercase" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> 
    <%end%>
</div>

